#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  apcupsd-app.service
BindsTo=apcupsd.service
After=apcupsd.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/apcupsd-app.pid %t/apcupsd-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/apcupsd-app.pid \
    --cidfile %t/apcupsd-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/apcupsd.pod-id --replace -d --name  apcupsd-app \
#    --volume /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
    --volume apcupsd_config:/etc/apcupsd:Z \
    --env TZ=Europe/Vienna \
    --device=/dev/usb/hiddev1 \
    --restart unless-stopped \
    ${APCUPSD_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/apcupsd-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP apcupsd-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/apcupsd-app.ctr-id
PIDFile=%t/apcupsd-app.pid
Type=forking

[Install]
WantedBy=default.target
